<a href="https://colab.research.google.com/github/dpaggiola/machinelearning/blob/main/PruebaInicial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Cuaderno de prueba

In [4]:
# Importar librerias
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats.mstats import winsorize
from google.colab import drive, files
import io

In [5]:
# Carga de los datos (desde drive)
drive.mount('/content/drive', force_remount=True)

df=pd.read_csv("/content/drive/My Drive/data/credit_data.csv", sep = ",")

Mounted at /content/drive

In [6]:
df

     Age      Sex  Job  ... Duration                       Purpose  Risk
0     67    male     1  ...        6           domestic appliances  good
1     22  female     1  ...       48           domestic appliances   bad
2     49    male     3  ...       12  (vacation - does not exist?)  good
3     45    male     1  ...       42              radio/television  good
4     53    male     1  ...       24                     car (new)   bad
..   ...      ...  ...  ...      ...                           ...   ...
995   31  female     3  ...       12              radio/television  good
996   40    male     0  ...       30                    car (used)  good
997   38    male     1  ...       12           domestic appliances  good
998   23    male     1  ...       45           domestic appliances   bad
999   27    male     1  ...       45                    car (used)  good

[1000 rows x 10 columns]

In [7]:
df.shape

(1000, 10)

In [8]:
df.describe

<bound method NDFrame.describe of      Age      Sex  Job  ... Duration                       Purpose  Risk
0     67    male     1  ...        6           domestic appliances  good
1     22  female     1  ...       48           domestic appliances   bad
2     49    male     3  ...       12  (vacation - does not exist?)  good
3     45    male     1  ...       42              radio/television  good
4     53    male     1  ...       24                     car (new)   bad
..   ...      ...  ...  ...      ...                           ...   ...
995   31  female     3  ...       12              radio/television  good
996   40    male     0  ...       30                    car (used)  good
997   38    male     1  ...       12           domestic appliances  good
998   23    male     1  ...       45           domestic appliances   bad
999   27    male     1  ...       45                    car (used)  good

[1000 rows x 10 columns]>

In [9]:
df.values

array([[67, 'male ', 1, ..., 6, 'domestic appliances', 'good'],
       [22, 'female ', 1, ..., 48, 'domestic appliances', 'bad'],
       [49, 'male ', 3, ..., 12, '(vacation - does not exist?)', 'good'],
       ...,
       [38, 'male ', 1, ..., 12, 'domestic appliances', 'good'],
       [23, 'male ', 1, ..., 45, 'domestic appliances', 'bad'],
       [27, 'male ', 1, ..., 45, 'car (used)', 'good']], dtype=object)